<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
  <link rel="stylesheet" href="../stylesheets/style.css">
<body>
  <div id="main">

    <div class="container">
      
    </div>
    <div class="send">
      <form class="send-container">
        <textarea id="messageInp" placeholder="Type a message..." name="messageInp"></textarea>
        <button class="btn" type="submit">Send</button>
        </form>
    
    </div>
        
    
  </div>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
        integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
        crossorigin="anonymous"></script>
    <script>
        var socket = io()

        const form = document.querySelector('.send-container')
        const messageInp = document.querySelector('#messageInp')
        const messageContainer = document.querySelector('.container')
        
        const append = (sender,message,position)=>{
          messageContainer.innerHTML+= `<div class="message ${position}">${sender} : ${message}</div> <br>`
          messageContainer.scrollTo(0, messageContainer.scrollHeight);
        }
      
      form.addEventListener("submit",(e)=>{
        e.preventDefault();
        const message = messageInp.value
        if(message.trim().length >0){
          append(`You`, `${message}`,'right')
          socket.emit('send', message);
          messageInp.value = '';
        }

      })
        
      messageInp.addEventListener("keyup",(dets)=>{
          console.log()
            if(dets.keyCode === 13 && messageInp.value.trim().length >0 ){
                document.querySelector(".btn").click();
            }
        })
        const name = prompt('Enter Your Name to join')
        socket.emit('newUserJoined', name)
        socket.on('user-joined', name=>{
          append(`${name}`, `joined the chat`, 'right' )
        })
        socket.on('receive', (data)=>{
          append(`${data.name}`, `${data.message}`, 'left' )
        })
    </script>
</body>
</html>